.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f3f4f6;
}

.layout-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}
